extends layout

block content
  h1= title
  p Welcome to #{title}
  <div id="streams"></div>
  <canvas id="canvas" width="360" height="560"></canvas>


  //
    <select onChange="color(this)" style="position:absolute;left:0px;top:0px">
    <option value="black">黒</option>
    <option value="blue">青</option>
    <option value="red">赤</option>
    </select>


    script(type="text/javascript").
      var canvas = document.getElementById("canvas");
      if(canvas.getContext){
          context = canvas.getContext("2d");
      }

